/ContractCompletingInfo.class
/ContractInfo.class
/ContractPositionInfo.class
/CustomerInfo.class
/LotInfo.class
/LotItemInfo.class
/ProtocolInfo.class
/PurchaseInfo.class
/SupplierInfo.class
/PurchaseTypeInfo.class
/Currency.class
/OKDPInfo.class
/SubDocuments.class
