<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--Аппендеры -->
    <!--Файловый аппендер -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>log.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</Pattern>
        </layout>
    </appender>
    <!--Консольный аппендер -->
    <appender name="sout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    <!-- Фильтры -->
    <!-- Фильтр по маркеру -->
    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>marker</Marker>
        <OnMatch>DENY</OnMatch>
    </turboFilter>
    <!-- Логгеры -->
    <!-- Корневой логгер -->
    <root level="info">
        <appender-ref ref="file" />
    </root>
    <!-- Логгер нашего класса  -->
    <logger name="logging.logback.LoggingLogback" level="info" >
        <appender-ref ref="sout" />
    </logger>
</configuration>