/Currency.class
/OKDPInfo.class
/PurchaseTypeInfo.class
/SupplierInfo.class
/CustomerInfo.class
/ContractPositionInfo.class
/CurrencyInfo.class
/OKPDInfo.class
/OKPD2Info.class
/OKEIInfo.class
/OKInfo.class
